nav{
    background-color: rgb(243, 10, 10);
}
h1, h2{
    color: black;
}
h1{
    text-align: center;
}
.container {
    display: flex;
    text-align: center;
}

.ajanlatok{ width: 70%; }
.szuro{ width: 30%; }
.ar{
    width: 50%;
}
