nav{
    background-color: rgb(243, 10, 10);
}
h1, h2{
    color: black;
}
h1{
    text-align: center;
}
table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}


.elso{ width: 70%; }
.masik{ width: 30%; }

