nav{
    background-color:rgb(243, 10, 10);
}
h1,h2{
    color:solid black;
}
h1{
    text-align:center;
}
table{
    text-align:center;
}
.elso{
    width: 70%;
}
.masodik{
    width: 30%;
}