@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura\ Condensed\ Extra\ Bold.otf') format('opentype');
    font-weight: 800; /* 800 represents Extra Bold */
    font-style: normal;
    font-display: swap;
}

body{
    background-color: rgb(255, 147, 239);
    font-family: "DM Sans", sans-serif;
}

nav{
    width: 100%;
    position: sticky;
    color: white;
}
h1, h2{
    color: black;
}

h1{
    text-align: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.1em;
    height: 1.1em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
    transform: translateY(0.01em);
    /* vertical-align: center; */
    margin-bottom: 0.25em;
    margin-right: 0.25em;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.main-container {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%;
    padding: 0 20px;
    box-sizing: border-box; */
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 75% 25%;
    /* text-align: center; */
}

.ajanlottak { 
    /* margin-left: 5rem; */
    /* margin-right: auto; */
    width: 95%; 
    background-color: red;
}

.szuro { 
    width: auto; 
    background-color: green;
    box-sizing: border-box;
    /* padding: 10px; */
    /* margin: 10px; */
    /* margin-left: auto; */
    /* margin-right: 5rem; */
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
}

.ar {
    width: 50%;
}

.divider {
    margin: 1rem 3rem 1rem;
    border-color: rgb(193, 115, 194);
    border-style: solid;
    border-radius: 1rem;
}

.nav-logo {
    width: 25rem;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: #cd5ee1;
    /* position: relative; */
    margin-bottom: 1rem;
    display: flex;
    height: 8rem;
    margin-top: 1rem;
}

.ajanlottak-h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.szurok-h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    background-color: darkgreen;
    margin: 0;
    padding: 1rem;
}

.alternating-text span:nth-of-type(odd) {
    color: #CEFF30; 
    font-family: 'Futura';
    font-size: 6.5rem;
    -webkit-text-stroke: 0.2rem black;
}
  
  /* 2nd, 4th, 6th letters (Even) -> Black */
.alternating-text span:nth-of-type(even) {
    color: #000000; 
    font-family: 'Futura';
    -webkit-text-stroke: 0;
}

.alternating-text {
    font-size: 6rem;
    margin: 0;
    /* padding: 0.5rem; */
    color: transparent;   
    -webkit-text-stroke: 0.15rem #000000; 
    user-select: none;
    margin-left: auto;
    margin-right: auto; 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    z-index: 1;
    /* cursor: pointer; */
}

.szurok h3 {
    font-size: 1.75rem;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.szurok div {
    margin: 0 2rem 0;
}

.boltok-container {
    /* margin: 0 2rem 0; */
    background-color: grey;
}

.ar-container {
    /* margin: 0 2rem 0; */
    background-color: aqua;
}

.ar-container div {
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 10px;               
    width: auto;
}

.ar-input {
    margin-bottom: 1rem;
    width: 6rem;
    height: 1.75rem;
    text-align: center;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: 0 0 0.25rem 0.05rem black;
    border-color: #000000;
}

.kategoriak-container {
    background-color: red;
    padding-bottom: 1rem;
}

.kategoriak {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.ertekelesek-container {
    background-color: antiquewhite;
}

.dash {
    display: inline-block;
    transform: translateY(-0.5rem);
}

.nav-svg {
    height: 2rem;
    display: flex;
}

.vert-divider {
    width: 0.1rem;
    height: 6rem;
    margin-top: 1rem;
    background-color: #9b47aa;
    margin-left: 1.5rem;
}

.elerhetoseg {
    
}

.kor {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: inline-grid;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
.navbar img {
    display: flex;
    z-index: 2;
}

.temp-home {
    width: 6%;
    height: auto;
    margin-left: 2rem;
}

.temp-fiok {
    width: 6%;
    height: auto;
    margin-left: 2rem;
}

.temp-kedvenc {
    width: 6%;
    height: 80%;
    margin-left: 2rem;
}