@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura\ Condensed\ Extra\ Bold.otf') format('opentype');
    font-weight: 800; /* 800 represents Extra Bold */
    font-style: normal;
    font-display: swap;
}

body{
    background-color: rgb(255, 147, 239);
    font-family: "DM Sans", sans-serif;
}

nav{
    width: 100%;
    position: sticky;
    color: white;
}
h1, h2{
    color: black;
}

h1{
    text-align: center;
}

.main-container {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%;
    padding: 0 20px;
    box-sizing: border-box; */
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 75% 25%;
    /* text-align: center; */
}

.ajanlottak { 
    /* margin-left: 5rem; */
    /* margin-right: auto; */
    width: 95%; 
    background-color: red;
}

.szuro { 
    width: auto; 
    background-color: green;
    box-sizing: border-box;
    /* padding: 10px; */
    /* margin: 10px; */
    /* margin-left: auto; */
    /* margin-right: 5rem; */
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
}

.ar {
    width: 50%;
}

.divider {
    margin: 1rem 3rem 1rem;
    border-color: rgb(193, 115, 194);
    border-style: solid;
    border-radius: 1rem;
}

.nav-logo {
    width: 25rem;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: #cd5ee1;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    height: 6rem;
    margin-top: 1rem;
}

.ajanlottak-h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.szurok-h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    background-color: darkgreen;
    margin: 0;
    padding: 1rem;
}

.alternating-text span:nth-of-type(odd) {
    color: #CEFF30; 
    font-family: 'Futura';
    font-size: 6.5rem;
    -webkit-text-stroke: 0.2rem black;
}
  
  /* 2nd, 4th, 6th letters (Even) -> Black */
.alternating-text span:nth-of-type(even) {
    color: #000000; 
    font-family: 'Futura';
    -webkit-text-stroke: 0;
}

.alternating-text {
    font-size: 6rem;
    margin: 0;
    padding: 0.5rem;
    color: transparent;   
    -webkit-text-stroke: 0.15rem #000000; 
    user-select: none;
    /* margin-left: auto;
    margin-right: auto; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    z-index: 1;
    /* cursor: pointer; */
}

.szurok h3 {
    font-size: 1.75rem;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.szurok div {
    margin: 0 2rem 0;
}

.boltok-container {
    /* margin: 0 2rem 0; */
    background-color: grey;
}

.ar-container {
    /* margin: 0 2rem 0; */
    background-color: aqua;
}

.ar-container div {
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 10px;               
    width: auto;
}

.ar-input {
    margin-bottom: 1rem;
    width: 6rem;
    height: 1.75rem;
    text-align: center;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: #000000;
}

.dash {
    display: inline-block;
    transform: translateY(-0.5rem);
}

/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
/* ----------------------------------------- TEMP HOME ---------------------------- */
.navbar img {
    display: flex;
    z-index: 2;
}

.temp-home {
    width: 6%;
    height: auto;
    margin-left: 2rem;
}

.temp-fiok {
    width: 6%;
    height: auto;
    margin-left: 2rem;
}

.temp-kedvenc {
    width: 6%;
    height: 80%;
    margin-left: 2rem;
}